.banner {
	display: grid;
	grid-template-columns: 200px auto 200px;
	align-items: center;
}

.banner-image {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}

.banner-header {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	color: rgb(0, 34, 117);
	font-size: 22px;
	font-weight: 600;
	text-align: center;
	padding-bottom: 8px;
}

.banner-header-rt {
	grid-column: 3 / 4;
	grid-row: 1 / 2;
	color: rgb(0, 34, 117);
	font-size: 12px;
	font-weight: 400;
	text-align: right;
	padding-bottom: 8px;
}

a {
	font-family: "Roboto" !important;
	font-size: 16px !important;
	font-weight: 600 !important;
	text-decoration: underline dotted;
	color: rgb(0, 34, 117);
}
p {
	margin:0;
	padding:0;
}